<!DOCTYPE html>
<html>
  <head>
    <title>Bootstrap 101 Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
	<!-- Custom styles for this template -->
    <link href="/stylesheets/sticky-footer-navbar.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- Wrap all page content here -->
    <div id="wrap">

      <!-- Fixed navbar -->
      <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Cross Chat Application</a>
          </div>
          <form class="navbar-form navbar-right">
            <div class="form-group">
              Hi ! <input type="text" placeholder="Email" class="form-control input-sm" id="login-user-nickname">
            </div>
            
          </form>
         
        </div>
      </div>

      <!-- Begin page content -->
      <div class="container">
        <div class="row">
		  <div class="col-md-3">
		  	<div class="list-group">
	            <a href="#" class="list-group-item active">
	              Online Users
	            </a>
	            <a href="#" class="list-group-item">Rajesh</a>
	            <a href="#" class="list-group-item">Upendra</a>
	            <a href="#" class="list-group-item">Lal</a>
	            <a href="#" class="list-group-item">Kush</a>
	        </div>
		  </div>
		  <div class="col-md-9">
		  	<div class="panel panel-default chat-log">
	            <div class="panel-heading">
	              <h3 class="panel-title">Chat Log</h3>
	            </div>
			    <ul class="list-group " id="chat-log">
		           <li class="list-group-item"><span class="glyphicon glyphicon-user"></span> Cras justo odio</li>
		           <li class="list-group-item"><span class="glyphicon glyphicon-user pull-right"></span> Cras justo odio</li>
		        </ul>		        
		    </div>
		    <form action="" id="write-chat">
		    	<input type="text" class="form-control" placeholder="Text input" id="send-box">	
		    </form>
		</div>
      </div>
    </div>
	</div>
    <div id="footer">
      <div class="container">
        <p class="text-muted credit">Example courtesy <a href="http://rkjha.com">Rajesh Kumar Jha</a>.</p>
      </div>
    </div>

   <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/socket.io/socket.io.js"></script>
	<script>
	  var socket = io.connect();
	  socket.on('message', function (data) {
		var classname = "";
		if(data.username==$('#login-user-nickname').text()){classname='pull-right'}
	    $('#chat-log').append('<li class="list-group-item"><span class="glyphicon glyphicon-user '+classname+' "></span> '+ data.msg +'</li>');	    
	  });
	  $('#write-chat').on('submit',function(e){
		  e.preventDefault();
		  console.log($('#send-box').val());
		  socket.emit('send', { msg:$('#send-box').val() ,username:$('#login-user-nickname').text()});
		  $('#send-box').val('');
	  });
	</script>
  </body>
</html>